body{
    width: 1200px;
    height: 600px;
    background-color: black;
}

.kvadrat{
    width: 400px;
    height: 150px;
    text-align: center;
    border: 1px white solid;
    background: linear-gradient(90deg,blue,green,yellow,orange,red);
    margin-top: 350px;
    margin-left: 700px;
    color: grey;
}